{deps, [
    {uuid, ".*",
        {git, "git://github.com/afiskon/erlang-uuid-v4.git", "master"}},
    {resource_srv, ".*",
        {git, "git://github.com/flodihn/resource_srv.git", "master"}},
    {meck, ".*",
        {git, "https://github.com/eproxus/meck.git", "master"}}
]}.

{sub_dirs, ["rel"]}.

{edoc_opts, [{dir, "api_docs/"}, {source_path, ["src/"]}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, false}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, []}.

