{deps, [
    {elli, ".*",
        {git, "git://github.com/flodihn/elli.git", "master"}}
]}.

{sub_dirs, ["rel"]}.

{edoc_opts, [{dir, "api_docs/"}, {source_path, ["src/"]}]}.

{erl_opts, [
	{i, "../galaxy_srv/include/"},
	{i, "../resource_srv/include/"},
	{i, "deps/elli/include/"}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, false}.
{cover_opts, [verbose]}.

{eunit_opts, [
	verbose,
	{report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_compile_opts, []}.

