{erl_opts, [debug_info]}.

{deps, []}.

{relx, [
    {release, {galaxy_server, "0.1.0"},
     [kernel,
      stdlib,
      sws_srv,
      holonet_srv,
      galaxy_srv,
      resource_srv,
      battle_srv,
      faction_srv,
      force_srv,
      account_srv,
      skirmish_srv,
      economy_srv,
      battle_rules
     ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
