{deps, [
]}.

{sub_dirs, ["rel"]}.


{erl_opts, [
	{i, "../resource_srv/include/"}
]}.

{edoc_opts, [{dir, "api_docs/"}, {source_path, ["src/"]}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, false}.
{cover_opts, [verbose]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{eunit_compile_opts, []}.

