{deps, [
    galaxy_srv,
    resource_srv,
    battle_srv
]}.

{erl_opts, [
	{d, 'ACCEPTOR_POOL_SIZE', 50}
]}.

{edoc_opts, [{dir, "api_docs/"}, {source_path, ["src/"]}]}.

{eunit_opts, [
	verbose,
	{report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_compile_opts, []}.

{shell, [
	{config, "config/dev.config"},
	{apps, [sws_srv]}
]}.

